<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe GameDocs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        body {
            background-color: #f8f9fa;
            color: #343a40;
        }

        .container {
            margin-top: 20px;
        }

        .fs-1 {
            color: #007bff;
        }

        h2 {
            color: #28a745;
        }

        p {
            color: #6c757d;
        }

        ol, ul {
            color: #495057;
        }
    </style>
</head>
<body>
    <div class="text-bg-danger p-3 fs-1">How to Play Tic Tac Toe Remotely</div>
    <div class="container border mt-3 mb-5">
        <div class="mt-4">
            <h2 >Introduction</h2>
            <p>Welcome to the remote Tic Tac Toe game! This simple guide will help you get started and enjoy playing with your friend remotely.</p>
        </div>

        <div class="mt-4">
            <h2>Getting Started</h2>
            <ol>
                <li>Create a Game Room: Decide on a unique ID for your game room. Share this ID with your friend.</li>
                <li>Join the Game: Open the game on your device and enter the shared ID to join the same game room as your friend.</li>
            </ol>
        </div>

        <div class="mt-4">
            <h2>Game Rules</h2>
            <p>The rules of Tic Tac Toe are simple:</p>
            <ul>
                <li>The game is played on a 3x3 grid.</li>
                <li>Players take turns marking a square with their symbol (X or O).</li>
                <li>The first player to get three of their symbols in a row (horizontally, vertically, or diagonally) wins.</li>
                <li>If the grid is filled without a winner, the game ends in a draw.</li>
            </ul>
        </div>

        <div class="mt-4">
            <h2>Controls</h2>
            <p>Use your device's touch or mouse controls to interact with the game:</p>
            <ul>
                <li>Tap or click on an empty square to make your move.</li>
                <li>Wait for your friend's turn after you make a move.</li>
                <li>The game will automatically notify you of the winner or declare a draw.</li>
            </ul>
        </div>

        <div class="mt-4">
            <h2>Have Fun!</h2>
            <p>Now that you know how to play, invite your friend, and enjoy a game of Tic Tac Toe together! May the best strategist win!</p>
        </div>
    </div>
</body>
</html>
